@font-size-small: .8rem;
@font-size-normal: 1rem;
@font-size-heading-3: 1.3rem;
@font-size-heading-2: 1.6rem;
@font-size-heading-1: 2.1rem;
@font-size-title: 2.6rem;

@font-weight-thin: 300;
@font-weight-normal: 500;
@font-weight-bold: 800;
